* {
    margin: 0;
    padding: 0;
}
.AboutImg img {
    width: 100%;
    height: 350px;
}
.AboutSec {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}


b::before {
    content: '';
    background-color: black;
    width: 10px;
    height: 10px;

}
