* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapHeader {
    font-size: 15px;
}
.wrapHeader .container h1 {
    color: #e7ebee;
    
}
.wrapHeader .container {
    padding-top: 17px;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}
.products {
    margin-top: 50px;
}
.grid-12 {
    display: inline;
    float: left;
    margin: 0 1.25%;
}
.wrapHeader {
    background-color:#2491d0;
    width: 100%;
    height: 80px;
    font-family: 'Noto Serif', serif;
    font-size: 13px;

}
.wrapHeader h1 {
    padding: 13px;
}


@media only screen and (max-width: 1000px) {
    .products .card-width {
      width: 260px;
      margin-right:30px;
    }
    .products  img {
        width: 290px;
        margin-bottom: 0px; 
    }
    .products .col-4 {
        margin: 50px;
        display: inline;
      
    }
    .products .container {
        margin-right: 130px;
    }
}


@media only screen and (max-width: 600px) {
    .products .row-1,.row-2{
        display: block;
    }
    .products  img {
        width: 320px;
        margin-bottom: 0px;
        
    }
    .products .card-body {
        width: 320px;
        border: 1px solid;
       
      
    }
    .card-width {
        width: 430px;
        margin-bottom: 20px;
    } 
     
}

    




