.Footer {
    background-color: black;
    padding: 60px 0 20px;
    color: #8a8a8a ;
    font-size: 14px;
    margin-top: 80px;
    font-family: 'Open Sans', sans-serif;
}

.Footer p {
    color: #8a8a8a ;
    
}
.Footer .container {
    max-width: 1140px;
}
.Footer h4 {
    
    margin-bottom: 30px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    margin-bottom: 20px;
    min-width: 240px;
}

.footer-col-1 {
    flex-basis: 30%;

}

.footer-col-2 {
    flex: 1;
    text-align: center;
    
}

.footer-col-2 img {
    width: 250px;
    height: 230px;
    
   
}

.footer-col-3, .footer-col-4 {
    flex-basis: 13%; 
}

ul {
    list-style-type: none;
}
.footer-col-4 img {
    float: left;
    width: 40px;
    padding: 3px;
}
.footer-col-4 .img1 img {
    width: 45px;
    height: 38px;
} 
.footer-col-4 .img2 img {
    width: 36px;
} 
.footer-col-4 .img3 img {
    width: 40px;
    height: 33px;
} 




